@CHARSET "ISO-8859-1";

#container {
	width: 980px;
	height: 100%;
	margin: 0 auto;
}

#titulo {
	float: left;
	font-size: 30pt;
	font-variant: small-caps;
	padding-top: 10px;
}

#barra_menu {
	min-height: 25px;
	padding: 3px;
	clear: both;
	font-size: 12pt;
}

#corpo {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 30px;
	margin-right: 30px;
	min-height: 300px;
	background-color: #FFFFFF;
}

#footer {
	height: 40px;
	margin-top: 5px;
	padding: 10px;
	text-align: center;
	background-color: #f5f5f5;
}

body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

th {
	min-height: 25px;
	padding: 3px;
}

img {
	border: 0px;
}

fieldset {
	padding-left: 10px;
	padding-bottom: 5px;
}

.botoes {
	padding-bottom: 30px;
	margin-left: 700px;
}

#p_rodape {
	color: black;
	font-size: 12px;
}

<!-- GRAFICO -->
